<!doctype html>
  <html lang="en">
    <head>
      <!-- views/partials/head.ejs -->
      <meta charset="UTF-8">
       
      <!-- CSS (load bootstrap from a CDN) -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <!-- The Shortcut icon for favicon.ico error -->
      <link rel="shortcut icon" href="">

         <!-- You need the complete jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
      <!-- Needed, so Bootstrap tooltips work -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index-style.css') }}">
    </head>
    <body>
      <h2 style="letter-spacing: 4px">Web Terminal</h2>
      <div id="container">
        <output></output>
        <div id="input-line" class="input-line">
          <div class="prompt"></div>
          <div><input class="cmdline" autofocus /></div>
        </div>
      </div>
    <!-- Includes the custom object "Terminal" to set it up later -->
    <!-- Actual initialization of the terminal -->
    <script>
    $(function() {
      // configuration data
      var config = {
        prompt: "[user@web-terminal]$ ", // user will be replaced by "guest"
        commands: {
          // specify what should happen on a cmd and return string/ html to write to terminal
          help: (argString) => {
            return('<div class="ls-files">' + Object.keys(config.commands).join('<br>') + '</div>');
          },
          echo: (argString) => {
            return argString;
          },
          login: (argString) => {
            // example login feature. NOT SECURE!
            if (argString == "") {
              return("Please login using login &#60;username&#62; &#60;password&#62;");
            }
            var args = argString.split(" ");
            term.login(args[0]/*user*/, args[1]/*pw*/);
          },
          logout: (argString) => {
            term.logout();
          },
          // required, otherwise TypeErr is thrown
          default: (argString) => {
            return("Not a command. Enter 'help' for more information.");
          },
          // required for redirecting to interface homepage
          interface: () => {
            term.interface();
          },
          // required for redirecting to network homepage
          network: () => 
          {
            term.network();
          }
        }
      };
      var Terminal = Terminal || function(cmdLineContainer, outputContainer, config) {
  // needed vars
  var cmdLine = document.querySelector(cmdLineContainer);
  var output = document.querySelector(outputContainer);

  var fs = null;
  var cwd = null;
  var history = [];
  var histpos = 0;
  var histtemp = 0;

  window.addEventListener('click', function(e) {
    cmdLine.focus();
  }, false);

  cmdLine.addEventListener('click', inputTextClick, false);
  cmdLine.addEventListener('keydown', historyHandler, false);
  cmdLine.addEventListener('keydown', processNewCommand, false);

  // Helper functions
  function inputTextClick(e) {
    this.value = this.value;
  }

  function historyHandler(e) {
    if (history.length) {
      if (e.keyCode == 38 || e.keyCode == 40) {
        if (history[histpos]) {
          history[histpos] = this.value;
        } else {
          histtemp = this.value;
        }
      }

      if (e.keyCode == 38) { // up
        histpos--;
        if (histpos < 0) {
          histpos = 0;
        }
      } else if (e.keyCode == 40) { // down
        histpos++;
        if (histpos > history_.length) {
          histpos = history_.length;
        }
      }

      if (e.keyCode == 38 || e.keyCode == 40) {
        this.value = history[histpos] ? history[histpos] : histtemp;
        this.value = this.value; // Sets cursor to end of input.
      }
    }
  }

  function processNewCommand(e) {
    const CMDS = config.cmds;

    if (e.keyCode == 9) { // tab
      e.preventDefault();
      // Implement tab suggest.
    } else if (e.keyCode == 13) { // enter
      // Save shell history.
      if (this.value) {
        history[history.length] = this.value;
        histpos = history.length;
      }

      // Duplicate current input and append to output section.
      var line = this.parentNode.parentNode.cloneNode(true);
      line.removeAttribute('id')
      line.classList.add('line');
      var input = line.querySelector('input.cmdline');
      input.autofocus = false;
      input.readOnly = true;
      output.appendChild(line);
      var cmd = this.value.trim().split(' ')[0].toLowerCase();

      if (!(cmd in config.commands) && cmd != '') cmd = "default";

      var argString = this.value.replace(cmd, "").trim();
      output_(config.commands[cmd](argString));

      window.scrollTo(0, getDocHeight());
      this.value = ''; // Clear/setup line for next input.
    }
  }

  //
  function output_(html) {
    if (html === undefined) return;
    output.insertAdjacentHTML('beforeEnd', '<p>' + html + '</p>');
  }

  // Cross-browser impl to get document's height.
  function getDocHeight() {
    var d = document;
    return Math.max(
        Math.max(d.body.scrollHeight, d.documentElement.scrollHeight),
        Math.max(d.body.offsetHeight, d.documentElement.offsetHeight),
        Math.max(d.body.clientHeight, d.documentElement.clientHeight)
      );
    }
  function redirect() {
    window.location.pathname= "/index2";
  
   }
  // add custom attributes here. Refer to "this.<custom-attribute>" later via term.<custom-attribute>
  this.user = "guest";
  this.prompt = config.prompt.replace("user", this.user);
  this.loggedIn = 0; // no. 1 is admin

  // add custom functions here
  this.init = () => {
    output_('<br><br><br>Today Date is :' + new Date() + '</p><p>Enter \'help\' for Information.</p><br><br><br>');
    $('.prompt').html(this.prompt);
  }

  this.login = (user, pw) => {
    if (user === "admin" && pw === "admin") {
      this.prompt = config.prompt.replace("user", user);
      $('.prompt').html(this.prompt);
      output_("Logged in as "+user);
    } else {
      output_("Wrong password or username.");
    }
  }

  this.logout = () => {
    this.prompt = config.prompt.replace("user", "guest");
    $('.prompt').html(this.prompt);
    output_("Logged out");
  }
  this.interface = () => {
    alert("Redirecting to Network Interface");
    redirect();
    window.setTimeout(2, 1000);
  }

  this.network =() => {
    alert("Redirecting to Network Packet Structure");
    window.location.pathname="/packets"
    window.setTimeout(2, 1000);
  }

};
      var term = new Terminal('#input-line .cmdline', '#container output', config);
      term.init();
     });
    </script>
  </body>
</html>